{% extends 'base.html.twig' %}

{% block body %}
	<div class="container my-5">
		<h1>{{ category.name }}</h1>
		<p>Cette catégorie contient
			{{ category.products | length }}
			{% if category.products | length > 1 %}
				produits
			{% else %}
				produit
			{% endif %}
		</p>

		<div class="row">
			{% for product in category.products %}			
				<div class="col-md-4 text-center mt-2 mb-4 container-product">
					<a href="{{ path('app_product', { slug: product.slug }) }}" class="text-decoration-none">
						<img src="/uploads/{{ product.illustration }}" alt="{{ product.name }}" class="img-fluid image-product"/>

						{% include 'wishlists/index.html.twig' with {
							'linkStyle': 'margin-left: 10px;',
							'divClass': 'd-flex align-items-center justify-content-center mt-3',
							'collapse': false,
					}  %}

						<span class="d-block fw-bold text-black mt-2">{{ product.name }}</span>
					</a>
					<span class="d-block">{{ product.pricewt | price }}</span>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
