{% extends 'base.html.twig' %}

{% block body %}
	<div class="container my-5">
		<h1>{{ category.name }}</h1>
		<p>Cette catégorie contient
			{{ category.products | length }}
			{% if category.products | length > 1 %}
				produits
			{% else %}
				produit
			{% endif %}
		</p>

		<div class="row">
			{% for product in category.products %}
				<div class="col-md-4 mt-4 text-center container-product"  id="product-{{ product.id }}" style="scroll-margin-top:80px;"  >
					{% include 'wishlists/index.html.twig' with {
							'linkStyle': '',
							'divClass': 'd-flex mt-1',
							'collapse': false,
							'btnAddToCart': false,
							'productsInCart': productsInCart,
					}  %}

					<span class="d-block fw-bold text-black mt-2">{{ product.name }}</span>

					<span class="d-block">{{ product.pricewt | price }}</span>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
