{% extends 'base.html.twig' %}

{% block body %}
	<div class="container my-5">
		{% if product %}
			<div class="row">
				<div class="col-md-6">
					<img src="/uploads/{{ product.illustration }}" class="img-fluid mb-3">
				</div>
				<div class="col-md-6">
					<small>
						<i>
							<a href="{{ path('app_category', {slug: product.category.slug}) }}">
								{{ product.category.name }}</a>
							>
							{{ product.name }}
						</i>
					</small>

					<h1>{{ product.name }}</h1>
					<span class="d-block mb-3">{{ product.pricewt | price }}</span>

					{% include 'product/description.html.twig' with {
							'description': product.description,
							'slug' : product.slug,
							'limit' : 300,
							'visible' : true
					}  %}

					<div class="d-flex align-items-center justify-content-between mt-3">
						<a href="{{ path('app_cart_add', { id: product.id }) }}" type="button" class="btn btn-success w-100">Ajouter au panier</a>

						<!-- Si utilisateur est connecté -->
						{% if app.user %}
							<!-- Si produit est dans ma wishlist -->
							{% if product in app.user.wishlists %}
								<a class="wishlist-icon" href="{{ path('app_account_wishlist_remove', {id: product.id}) }}" style="margin-left: 10px;">
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="#FF6F61" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart">
										<path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
									</svg>
								</a>
							{% else %}
								<a class="wishlist-icon" href="{{ path('app_account_wishlist_add', {id: product.id}) }}" style="margin-left: 10px;">
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart">
										<path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
									</svg>
								</a>
							{% endif %}
						{% else %}
							<a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" style="margin-left: 10px;">
								<i data-feather="heart"></i>
							</a>
						{% endif %}
					</div>

					<div class="collapse" id="collapseExample">
						<div class="mt-2">
							Pour utiliser les avantages de la Wishlist,
							<a href="{{ path('app_login') }}">connectez-vous</a>
							ou
							<a href="{{ path('app_register') }}">créez votre compte client</a>.
						</div>
					</div>

				</div>
			</div>
		{% else %}
			<p>Pas de produit trouvé ...</p>
		{% endif %}
	</div>
{% endblock %}
